:root {
    --primary-light: #ffffff;
    --secondary-light: #f8f5f2;

    /* colors */
    --primary:  #FF4500;
    --secondary: #228B22;
    --accent: #FFD700;

    --dark: #333;
}

@font-face {
    font-family: 'Lilita One';
    src: url('../assets/fonts/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}

body {
    background-color: var(--primary-light);
}

#content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#header {
    grid-row: 1;
}

#header .navbar {
    background-color: var(--primary-light);
    overflow: hidden;
    border-top: 5px solid var(--primary);
    border-bottom: 1px solid var(--secondary-light);
    padding: 0.5em 3em;
    font-family: 'Lilita One', cursive;
    font-size: clamp(1rem, 2vw, 1.5rem);
    white-space: nowrap;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .nav-list {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    align-items: baseline;
}

.navbar .nav-list .nav-item a {
    text-decoration: none;
    color: #333;
}

.nav-item.logo {
    margin-right: auto;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

li.nav-item {
    padding: 0.5em;
}

li.nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

#main {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main .message {
    background-color: var(--secondary-light);
    color: var(--secondary);
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    font-weight: 600;
    width: 100%;
}

#main .hero {
    background-image: url('../assets/images/jarritos-mexican-soda-xkVOHCP-_6w-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: clamp(400px, 50vh, 800px);
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button {
    background-color: var(--primary);
    color: var(--primary-light);
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    scale: 1.1;
}

/* content section */

#main h1 {
    margin: .5em 0;
    font-family: 'Lilita One', cursive;
    font-weight: normal;
}

.content-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    padding: 1em;
}

.content-card {
    background-color: var(--secondary-light);
    border: 1px solid var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.content-card img {
    width: 100%;
    height: auto;
    border-radius: 0.25em;
}

#main .hero2 {
    background-image: url('../assets/images/jarritos-mexican-soda-xxjHmSPxD1E-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: clamp(400px, 50vh, 800px);
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button.menu,
.button.contact {
    background-color: var(--secondary);
}

#footer {
    width: 100%;
    font-family: 'Lilita One', cursive;
    border-top: 5px solid var(--secondary);
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
};